{% extends "layout.html" %}

{% block title %}Fund{% endblock %}

{% block main %}
    <div class="container fund-page">
        <button id="connectButton">Connect</button>
        <button id="balanceButton">Get Balance</button>
        <label for="ethAmount">ETH Amount</label>
        <input id="ethAmount" placeholder="0.1" />
        <button type="button" id="fundButton">Fund</button>
    </div>

    <script src="{{ url_for('static', filename='index-ts.ts') }}" type="module"></script>
{% endblock %}