{% extends "layout.html" %}

{% block title %}
    Homepage
{% endblock %}

{% block main %}
    <!-- HERO -->
    <div class="container">
        <section class="hero">
            <h1><b>Decentralized Governance is NEAR!</b></h1>
            <p><b>“Built Accountable. Designed for the People. Future”</b></p>
            <div class="video-placeholder"></div>
        </section>

        <!-- TOKEN INFO -->
        <section class="info-section" id="info">
            <h3>Token Information</h3>
            <p>
                <p>Contract Address: 0x123...789.</p>
                <P>AI Wallet Address: 0x123...789
                <p>Initial Supply: 1,000,000 tokens.</p>
                <p>Decimals: 18.</p>
                <p>Token type:ERC-20.</p>
                <p>All info provided for transparency.</p>
            </p>
            <p>
                Read the whitepaper for details on tokenomics, allocation, and how to participate in our new ecosystem.
            </p>
        </section>

        <section class="info-section" id="info">
            <h3>About Me</h3>
            <p>
                ...
            </p>
        </section>

        <!-- CTA -->
        <section class="cta-section">
            <h2>Help Us To Get Going</h2>
            <p>Fund, Join, Share</p>
            <a href="/fund" class="cta-button">Fund</a>
        </section>
    </div>
{% endblock %}