<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <!-- TODO: Create a link for a favicon-->
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
    
        <div class="container nav-container">
            <!-- NAVBAR -->
            <header>
                <a class="logo" href="/">GOVINANCE</a>
                <nav class="nav-links">
                    <a href="/whitepaper">Whitepaper</a>
                    <a href="/interact">Interact</a>
                </nav>
            </header>
        </div>

        <main>
            {% block main %}{% endblock %}
        </main>

        <!-- FOOTER -->
        <footer class="container">
            <div class="footer-logo">GOVINANCE</div>
                <div style="margin-top: 6.2rem;">&copy; 2025 Govinance. All rights reserved.</div>
            <div class="footer-links">
                <div>
                    <h4>Connect</h4>
                    <a href="#">Telegram</a>
                    <a href="#">Twitter</a>
                    <a href="#">Etherscan</a>
                </div>
                <div>
                    <h4>Explore</h4>
                    <a href="#">Docs</a>
                    <a href="#">Repository</a>
                    <a href="#">Contact</a>
                </div>
            </div>
        </footer>
    </body>
</html>